<footer class="section section--footer">
  <div class="section__inner">
    <a
      href="{{htmlWebpackPlugin.options.data.contact.email.href}}"
      target="_blank"
    >
      {{htmlWebpackPlugin.options.data.contact.email.title}}
    </a> | <a
      href="{{htmlWebpackPlugin.options.data.contact.twitter.href}}"
      target="_blank"
    >
      {{htmlWebpackPlugin.options.data.contact.twitter.title}}
    </a> | <a
      href="{{htmlWebpackPlugin.options.data.contact.github.href}}"
      target="_blank"
    >
      {{htmlWebpackPlugin.options.data.contact.github.title}}
    </a>
  </div>
</footer>


