<section class="section section--showcase">
  <div class="section__inner">
    <h1 class="section__title">Showcase</h1>
    <div class="cards">
      {{#each htmlWebpackPlugin.options.data.projects}}
        <article class="card">
          <a class="card__link" href="{{this.href}}" target="_blank">
            <div class="card__preview">
              <h1 class="card__title">{{this.preview}}</h1>
            </div>
            <div class="card__detail">
              <h2 class="card__title card__title--dark">{{this.title}}</h2>
              <p class="card__description">{{this.description}}</p>
              <ul class="tag-list">
                {{#each this.tags}}
                  <li class="tag-list__tag">{{this}}</li>
                {{/each}}
              </ul>
            </div>
          </a>
        </article>
      {{/each}}
    </div>
  </div>
</section>
